<!DOCTYPE html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
body {
  background-color: #e6f0ff;
}
</style>
</head>
<body>
    <center>
            <header> <h1> NAME: Zaid Al Dhahi </h1> </header>
            <header> <h1> Simple Earthquake Analysis </h1> </header>
    </center>
		<br> <br>
 {% block content %}{% endblock %}
</body>
</html>